<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/23822e3469.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Convergence' rel='stylesheet'>

    <title>Data Mining Lab</title>
    <link rel="shortcut icon" href="../../static/favicon.png" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="../../static/Naive Bayes/main.css">
    <link rel="stylesheet" type="text/css" href="../../static/Naive Bayes/simulation_css.css">

  </head>
  <body>
    
    <!--navigation bar start-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between" style="background-color: rgba(0,0,0,0.8);">
      <a class="navbar-brand" style="font-size: 1.5vw;">Virtual Lab</a>
<!--         <a class="navbar-brand" href="https://www.nitt.edu/" target="_blank"><img src="../../static/nittlogo.png"> National Institute of Technology Tiruchirappalli</a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../aboutus,html">About us</a>
                </li>
            </ul>
        </div></div>
    </nav>
    <!--navigation bar end-->

    <!------------------------------Main content Start---------------------------------------------------->
    <div class="container-fluid">
      <div class="row">
        <div class="bg-light col-lg-2 col-md-3 col-sm-3 show colapse" id="sidebar">
        <div class="flex-column">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="aim.html">
                    <i class="fas fa-book-open"></i> Aim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="theory.html">
                    <i class="fas fa-book-open"></i>Theory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="procedure.html">
                    <i class="fas fa-book-open"></i>Procedure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pretest.html" onclick="buildquiz()">
                    <i class="fas fa-book-open"></i>Pre-test</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="simulation.html">
                    <i class="fas fa-flask"></i>Simulation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="posttest.html">
                    <i class="fas fa-book-open"></i>Post-Test</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="references.html">
                    <i class="fas fa-book-open"></i>References</a>
                </li>
            </ul>
        </div>

        </div>
        <div class="col-lg-10 col-md-9 col-sm-9">
            <div class="px-4 mt-4" style="text-decoration: none;">
                <div class="row border rounded">
                 <button class="navbar-toggler col-2 border" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
                </button>
                <h4 class="col-10"><a href="../../index.html" class="text-secondary">Data Mining</a> > <a href="aim.html" class="text-secondary">Naive Bayes Classifier</a> > Simulation</h4></span>
                </div>
        	<div class="display-5 content-section">	
        		<h2 id="top" class="display-4">Simulation</h2>
                <hr>
                <br><br>

        		<p>
                    We'll be using the <a href = "https://www.openml.org/d/31" target="_blank">good-and-bad-credit-risks</a> dataset.
                </p>
    
                <p> In this dataset, we will be classifying the credit risk taken as a bad or good one depending on various features like - 
                    <ul>
                        <li>Checking</li>
                        <li>Duration</li>
                        <li>Credit history</li>
                        <li>Purpose</li>
                        <li>Credit Amount</li>
                        <li>Savings Status</li>
                        <li>Employement</li>
                        <li>Installment Commitment</li>
                        <li>Personal Status</li>
                        <li>Other Parties</li>
                        <li>Residents Since</li>
                        <li>Property Magnitude</li>
                        <li>Age</li>
                        <li>Housing</li>
                        <li>Job</li>
                        <li>Number of dependants</li>
                        <li>Foreign Worker or not</li>
                    </ul> </p>
    
                    <p>
                       Based on the values of each of the above attributes, we can predict whether a risk undertaken is a good one or bad one.
                    </p>
    
                    <p>
                        Given the dataset, the frequency tables for each attribute are as follows :-
                    </p>
                    
                    <p>
                        <img src = "../../static/Naive Bayes/checking_status.png" alt = "checking status" class = "attributes">
                    </p>
                    
                    <p>
                        <img src = "../../static/Naive Bayes/duration.png" alt = "checking status" class = "attributes">
                    </p>
    
                    <p>
                        <img src = "../../static/Naive Bayes/credit_history.png" alt = "checking status" class = "attributes">
                    </p>
    
                    <p>
                        <img src = "../../static/Naive Bayes/purpose.png" alt = "checking status" class = "attributes">
                    </p>
    
                    <p>
                        <img src = "../../static/Naive Bayes/credit_amount.png" alt = "checking status" class = "attributes">
                    </p>
    
                    <p>
                        <img src = "../../static/Naive Bayes/savings.png" alt = "checking status" class = "attributes">
                    </p>
    
                    <p>
                        <img src = "../../static/Naive Bayes/employment.png" alt = "checking status" class = "attributes">
                    </p>
    
                    <p>
                        <img src = "../../static/Naive Bayes/instalment.png" alt = "checking status" class = "attributes">
                    </p>
    
                    <p>
                        <img src = "../../static/Naive Bayes/personal_status.png" alt = "checking status" class = "attributes">
                    </p>
    
                    <p>
                        <img src = "../../static/Naive Bayes/other_parties.png" alt = "checking status" class = "attributes">
                    </p>
    
                    <p>
                        <img src = "../../static/Naive Bayes/residents_since.png" alt = "checking status" class = "attributes">
                    </p>
    
                    <p>
                        <img src = "../../static/Naive Bayes/property.png" alt = "checking status" class = "attributes">
                    </p>
    
                    <p>
                        <img src = "../../static/Naive Bayes/age.png" alt = "checking status" class = "attributes">
                    </p>
    
                    <p>
                        <img src = "../../static/Naive Bayes/other_payment.png" alt = "checking status" class = "attributes">
                    </p>
                    
                    <p>
                        <img src = "../../static/Naive Bayes/housing.png" alt = "checking status" class = "attributes">
                    </p>
    
                    <p>
                        <img src = "../../static/Naive Bayes/existing_credit.png" alt = "checking status" class = "attributes">
                    </p>
    
                    <p>
                        <img src = "../../static/Naive Bayes/job.png" alt = "checking status" class = "attributes">
                    </p>    
    
                    <p>
                        <img src = "../../static/Naive Bayes/number_of_dependants.png" alt = "checking status" class = "attributes">
                    </p>
    
                    <p>
                        <img src = "../../static/Naive Bayes/own_telephone.png" alt = "checking status" class = "attributes">
                    </p>
    
                    <p>
                        <img src = "../../static/Naive Bayes/foreign_worker.png" alt = "checking status" class = "attributes">
                    </p>
                   
                    <p>
                        Now, we have the frequency table for each attribute, let's predict that whether the credit risk is good or bad given the attributes -
                    </p>
    
                    <p>
                        <img src = "../../static/Naive Bayes/conditions.png" alt = "conditions.png" class = "attributes" style = "margin-left: 230px;">
                    </p>
    
                    <p>
                        Let's revisit the formula for Naive Bayes' Classifier.
                       <img src = "../../static/Naive Bayes/formula_new.PNG" alt = "formula.png" class = "attributes" style = "margin-left: 200px">
                    </p>
    
                    <p>
                        Here,
    
                        <p>A : The probability that the credit risk is bad i.e. 300/1000.</p>
                        <p>B : The probability that the above specified conditions are fulfilled.
    
                            <br>
                            &nbsp; &nbsp; &nbsp;
                            The below mentioned are the P(B/A) probabilities.
                            <p>
                                <img src = "../../static/Naive Bayes/probabilities.png" alt = "probability" style = "margin-left: 150px;">
                            </p>
    
                            <br>
                            &nbsp; &nbsp; &nbsp;
                            The below mentioned are probabilities of P(B).
                            
                            <p>
                                <img src = "../../static/Naive Bayes/pb.png" alt = "pb.png" class = "attributes" style = "margin-left: 150px;">
                            </p>
                        </p>
                    </p>
    
                    <p>
                        Putting the above values in the formula, we get:
    
                        <img src = "../../static/Naive Bayes/values.png" alt = "values.png" class = "attributes" style = "margin-bottom: 0px;">
                        <img src = "../../static/Naive Bayes/answer.PNG" alt = "answer.png" class = "attributes" style = "margin-top: 0px;">
                    </p>
    
                    <p>
                        Hence, the probability that the credit risk is bad under specified conditions is <strong>0.46747050402069032159942488337904</strong>.
                    </p>


        	</div>
        </div>

      </div>
      
    </div>
    <!---------------------------------------------Main content end--------------------------------------------->
    
    <!------------top Fab button start-------->
    <a href="#" style="color: black;"><i class="fa fa-arrow-circle-up fa-3x" style="position: fixed;bottom:5%;right: 5%;">
    </i></a>
    <!-----top Fab button end ---------->


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
   
  </body>
</html>
