<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/23822e3469.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Convergence' rel='stylesheet'>

    <title>Data Mining Lab</title>
    <link rel="shortcut icon" href="../../static/favicon.png" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="../../static/DecisionTree/main.css">

  </head>
  <body>
    
    <!--navigation bar start-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between" style="background-color: rgba(0,0,0,0.8);">
        <a class="navbar-brand" href="https://www.nitt.edu/"><img src="../../static/nittlogo.png"> National Institute of Technology Tiruchirappalli</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="../../">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../aboutus.html">About us</a>
                </li>
            </ul>
        </div></div>
    </nav>
    <!--navigation bar end-->

    <!------------------------------Main content Start---------------------------------------------------->
    <div class="container-fluid">
      <div class="row">
        <div class="bg-light col-lg-2 col-md-3 col-sm-3 show collapse" id="sidebar">
            <div class="flex-column">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="aim.html">
                        <i class="fas fa-book-open"></i> Aim</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="theory.html">
                        <i class="fas fa-book-open"></i>Theory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="procedure.html">
                        <i class="fas fa-book-open"></i>Procedure</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pretest.html" onclick="buildquiz()">
                        <i class="fas fa-book-open"></i>Pre-test</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="simulation.html">
                        <i class="fas fa-flask"></i>Simulation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="posttest.html">
                        <i class="fas fa-book-open"></i>Post-Test</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="references.html">
                        <i class="fas fa-book-open"></i>Refernces</a>
                    </li>
                </ul>
            </div>
            </div>
        <div class="col-10">
            <div class="px-4 mt-4" style="text-decoration: none;">
            <div class="row border rounded">
                <button class="navbar-toggler col-2 border" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
               <i class="fas fa-bars"></i>
               </button>
               <h4 class="col-10"><a href="../../" class="text-secondary">Data Mining</a> > <a href="aim.html" class="text-secondary">Data cleaning</a> > Theory</h4></span>
               </div>
        	<div class = "display-5 content-section">
        		<h1 id="top" class="display-4">Theory</h1><hr><br><br>
                  
				<h2>What is Data?</h2>
				<p>
					Before learning about data cleaning we have to understand what is Data?<br>
					Data are characteristics or information, usually numeric, that are collected through observation.
					In other words, data are a set of values of qualitative or quantitative variables about one or more persons or objects.<br><br>

				</p>

                   <h2>What is Data cleaning ?</h2>
				<p>
                    Data cleaning is the process of detecting and correcting corrupt or inaccurate records
                    from a record set, table, or database and refers to identifying incomplete, incorrect, inaccurate or irrelevant parts 
                    of the data and then replacing, modifying, or deleting the dirty or coarse data.<br><br>
					
					<div align="center"><img src="../../static/datacleaning/clean.png"></div>
        		</p><br><br><br>

				<h2>Difference between data cleaning and data transformation..</h2>
				<p>	
                    Data cleaning is the process that removes data that does not belong in your dataset. Data transformation is the process of converting data from one format or structure into another. Transformation processes can also be referred to as data wrangling, or data munging, transforming and mapping data from one "raw" data form into another format for warehousing and analyzing. This article focuses on the processes of cleaning that data.
        		</p><br><br>




				<h2>Why Data Cleaning is Necessary?</h2><br>
				<p>
					Having wrong or bad quality data can be detrimental to your processes and analysis. Poor data can cause a stellar algorithm to fail. 

					On the other hand, high-quality data can cause a simple algorithm to give you outstanding results. There are many data cleaning techniques, and you should get familiar with them to improve your data quality. Not all data is useful. So that’s another major factor which affects your data quality.<br>
					Data cleansing is also important because it improves your data quality and in doing so, increases overall productivity. When you clean your data, all outdated or incorrect information is gone – leaving you with the highest quality information.<br><br>
					For example, suppose your company has a list of employees’ addresses. Now, if your data also includes a few addresses of your clients, wouldn’t it damage the list? And wouldn’t your efforts to analyze the list would go in vain?
				</p>

				<h5>There are many reasons why data cleaning is essential.</h5><br>
				<h4>Efficiency</h4>
			    <p>
					Having clean data (free from wrong and inconsistent values) can help you in performing your analysis a lot faster. You’d save a considerable amount of time by doing this task beforehand. When you clean your data before using it, you’d be able to avoid multiple errors. If you use data containing false values, your results won’t be accurate.
                    And the chances are, you would have to redo the entire task again, which can cause a lot of waste of time. If you choose to clean your data before using it, you can generate results faster and avoid redoing the entire task again. 
				   <br><br>
				</p> 

				<h4>Error Margin</h4>
			    <p>
                    When you don’t use accurate data for analysis, you will surely make mistakes. Suppose, you’ve gotten a lot of effort and time into analyzing a specific group of datasets. You are very eager to show the results to your superior, but in the meeting, your superior points out a few mistakes the situation gets kind of embarrassing and painful.
                    Wouldn’t you want to avoid such mistakes from happening? Not only do they cause embarrassment, but they also waste resources. Data cleansing helps you in that regard full stop it is a widespread practice
			        <br><br>	
				</p> 

				<h3>Determining Data Quality</h3><br>
			    <p>
				  <h4>Is The Data Valid? </h4>
                     The validity of your data is the degree to which it follows the rules of your particular requirements. For example, you how to import phone numbers of different customers, but in some places, you added email addresses in the data. Now because your needs were explicitly for phone numbers, the email addresses would be invalid. 
                     Validity errors take place when the input method isn’t properly inspected. You might be using spreadsheets for collecting your data. And you might enter the wrong information in the cells of the spreadsheet. 
				</p> <br>
				<h5>There are multiple kinds of constraints your data has to conform to for being valid.</h5><br>
				<h4>Range:</h4> 
                <p>
					Some types of numbers have to be in a specific range. For example, the number of products you can transport in a day must have a minimum and maximum value. There would surely be a particular range for the data. There would be a starting point and an end-point. 
                </p><br>
				<h4>Data-Type:</h4> 
                <p>
				    Some data cells might require a specific kind of data, such as numeric, Boolean, etc. For example, in a Boolean section, you wouldn’t add a numerical value.
				</p><br>
				<h4>Compulsory constraints:</h4> 
                <p>
					In every scenario, there are some mandatory constraints your data should follow. The compulsory restrictions depend on your specific needs. Surely, specific columns of your data shouldn’t be empty.For example, in the list of your clients’ names, the column of ‘name’ can’t be empty. 
				</p><br>
				<h4>Cross-field examination:</h4> 
                <p>
					There are certain conditions which affect multiple fields of data in a particular form. Suppose the time of departure of a flight couldn’t be earlier than it’s arrival. In a balance sheet, the sum of the debit and credit of the client must be the same. It can’t be different. 
				</p><br>
				<h4>Unique Requirements:</h4> 
                <p>
					Particulars types of data have unique restrictions. Two customers can’t have the same customer support ticket. Such kind of data must be unique to a particular field and can’t be shared by multiple ones. 
				</p><br>
				<h4>Set-Membership Restrictions:</h4> 
                <p>
			        Some values are restricted to a particular set. Like, gender can either be Male, Female or Unknown. 
				</p><br>
				<h4>Regular Patterns:</h4> 
                <p>
					Some pieces of data follow a specific format. For example, email addresses have the format ‘randomperson@randomemail.com’. Similarly, phone numbers have ten digits.
            		If the data isn’t in the required format, it would also be invalid. 
				</p><br>

				<h4>Accuracy</h4>
			    <p>
                    You know that most of the data you have is valid, you’ll have to focus on establishing its accuracy. Even though the data is valid, it doesn’t mean the data is accurate. And determining accuracy helps you to figure out if the data you entered was accurate or not. 
                    The address of a client could be in the right format, but it doesn’t need to be the right one. Maybe the email has an additional digit or character that makes it wrong. Another example is of the phone number of a customer. 
					<br><br>	
 				</p><br>
                  
                 <h2>Data Cleansing Techniques</h2>
                 <p>Your choice of data cleaning techniques relies on a lot of factors. First, what kind of data are you dealing with? Are they numeric values or strings? Unless you have too few values to handle, you shouldn’t expect to clean your data with just one technique as well.
                     <br><br>
                    You might need to use multiple techniques for a better result. The more data types you have to handle, the more cleansing techniques you’ll have to use. Being familiar with all of these methods will help you in rectifying errors and getting rid of useless data. </p>
                   <br><br>
                    <h4>1. Remove Irrelevant Values</h4>
                    <p>The first and foremost thing you should do is remove useless pieces of data from your system. Any useless or irrelevant data is the one you don’t need. It might not fit the context of your issue. </p>
                     <br><br>
                     <h4>2. Get Rid of Duplicate Values</h4>
                     <p>Duplicates are similar to useless values – You don’t need them. They only increase the amount of data you have and waste your time. You can get rid of them with simple searches. Duplicate values could be present in your system for several reasons.
                         <br>
                         Maybe you combined the data of multiple sources. Or, perhaps the person submitting the data repeated a value mistakingly. Some user clicked twice on ‘enter’ when they were filling an online form. You should remove the duplicates as soon as you find them. 
                     </p>
                     <br><br>

                     <h4>3. Avoid Typos (and similar errors)</h4>
                     <p>Typos are a result of human error and can be present anywhere. You can fix typos through multiple algorithms and techniques. You can map the values and convert them into the correct spelling. Typos are essential to fix because models treat different values differently. Strings rely a lot on their spellings and cases.</p>
                     <br><br>
                       
                     <h4>4. Convert Data Types</h4>
                     <p>Data types should be uniform across your dataset. A string can’t be numeric nor can a numeric be a boolean. There are several things you should keep in mind when it comes to converting data types:
                         <br>
                        <li>Keep numeric values as numerics</li>
                        <li>Check whether a numeric is a string or not. If you entered it as a string, it would be incorrect.</li> 
                        <li>If you can’t convert a specific data value, you should enter ‘NA value’ or something of this sort. Make sure you add a warning as well to show that this particular value is wrong.</li></p>
                        <br><br>

                    <h4>5. Take Care of Missing Values</h4>
                    <p>There would always be a piece of missing data. You can’t avoid it. So you should know how to handle them to keep your data clean and free from errors. A particular column in your dataset may have too many missing values. In that case, it would be wise to get rid of the entire column because it doesn’t have enough data to work with.</p>
                    </div>
                </div>
        </div>
      
    </div>
    <!---------------------------------------------Main content end--------------------------------------------->
    
    <!------------top Fab button start-------->
    <a href="#" style="color: black;"><i class="fa fa-arrow-circle-up fa-3x" style="position: fixed;bottom:5%;right: 5%;">
    </i></a>
    <!-----top Fab button end ---------->


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
   
  </body>
</html>
