<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/23822e3469.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Convergence' rel='stylesheet'>

    <title>Data Mining Lab</title>
    <link rel="shortcut icon" href="../../static/favicon.png" type="image/x-icon">

    <link rel="stylesheet" type="text/css" href="../../static/DecisionTree/main.css">

  </head>
  <body>
    
    <!--navigation bar start-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between" style="background-color: rgba(0,0,0,0.8);">
        <a class="navbar-brand" href="https://www.nitt.edu/" target="_blank"><img src="../../static/nittlogo.png"> National Institute of Technology Tiruchirappalli</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="../../index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../../aboutus.html">About us</a>
                </li>
            </ul>
        </div></div>
    </nav>
    <!--navigation bar end-->

    <!------------------------------Main content Start---------------------------------------------------->
    <div class="container-fluid">
      <div class="row">
        <h3><a href="index"></a></h3>
      </div>
      <div class="row">
        <div class="bg-light col-lg-2 col-md-3 col-sm-3 show collapse" id="sidebar">
        <div class="flex-column">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="aim.html">
                    <i class="fas fa-book-open"></i> Aim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="theory.html">
                    <i class="fas fa-book-open"></i>Theory</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="procedure.html">
                    <i class="fas fa-book-open"></i>Procedure</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="pretest.html" onclick="buildquiz()">
                    <i class="fas fa-book-open"></i>Pre-test</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="simulation.html" target="_blank">
                    <i class="fas fa-flask"></i>Simulation</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="posttest.html">
                    <i class="fas fa-book-open"></i>Post-Test</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="references.html">
                    <i class="fas fa-book-open"></i>Refernces</a>
                </li>
            </ul>
        </div>

        </div>
        <div class="col-lg-10 col-md-9 col-sm-9">
            <div class="px-4 mt-4" style="text-decoration: none;">
                <div class="row border rounded">
                 <button class="navbar-toggler col-2 border" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
                </button>
                <h4 class="col-10"><a href="../../index.html" class="text-secondary">Data Mining</a> > <a href="aim.html" class="text-secondary">Data Transformation</a> > Theory</h4></span>
                </div>
        	<div class="display-5 content-section">	
        		<h2 id="top" class="display-4">Theory</h2>
                <hr>
                <br><br>
        		<h3>Introduction </h3><br>
                <h5>What is Data Transformation in Data Mining ?</h5><br>
        <p>
				Data transformation in data mining is done for combining unstructured data with structured data to analyze it later. It is also important when the data is transferred to a new cloud data warehouse. When the data is homogeneous and well-structured, it is easier to analyze and look for patterns.        			
				
        		</p>
		<p>The data are transformed in ways that are ideal for mining the data. The data transformation involves steps that are :</p><br>
        		<p>
					<strong>1. Data Smoothing</strong><br>
					<strong>2. Data Aggregation</strong><br>
					<strong>3. Data discretization</strong><br>
					<strong>4. Attribute Construction</strong><br>
					<strong>5. Generalization</strong><br>
					<strong>6. Data Normalization</strong>
			</p><br>
        		<h4>1. Data Smoothing : </h4><br>
        		<p>
        			This method is used for removing the noise from a dataset. Noise is referred to as the distorted and meaningless data within a dataset. Smoothing uses algorithms to highlight the special features in the data. After removing noise, the process can detect any small changes to the data to detect special patterns.
        			<p>
				<strong>Noise in Data - </strong>It is a random error or variance in a measured variable.	
				</p>
			</p><br>

        		<h5>How to remove noise from the dataset ?</h5><br>
        		<h5>The Binning Method -</h5>
        		<p>
        			Binning method is used to smoothing data or to handle noisy data. In this method, the data is first sorted and then the sorted values are distributed into a number of buckets or bins. As binning methods consult the neighborhood of values, they perform local smoothing.<br><br>
					<strong>There are three approaches to perform smoothing – </strong><br><br>
					<ul>
						<li>
							<h5>Smoothing by bin means : </h5>
							<p>
								In smoothing by bin means, each value in a bin is replaced by the mean value of the bin.
							</p>
						</li>
						<li>
							<h5>Smoothing by bin median : </h5>
							<p>In this method each bin value is replaced by its bin median value.</p>
							
						</li>
						<li>
							<h5>Smoothing by bin boundary : </h5>
							<p>
								In smoothing by bin boundaries, the minimum and maximum values in a given bin are identified as the bin boundaries. Each bin value is then replaced by the closest boundary value.</p><br>
							
						</li>
					</ul>
        		</p>

        		<h4>2. Data Aggregation : </h4><br><br>
        		<p>
        			Aggregation is the process of collecting data from a variety of sources and storing it in a single format. Here, data is collected, stored, analyzed and presented in a report or summary format. It helps in gathering more information about a particular data cluster. The method helps in collecting vast amounts of data.

				<br><br> This is a crucial step as accuracy and quantity of data is important for proper analysis. Companies collect data about their website visitors. This gives them an idea about customer demographics and behaviour metrics. This aggregated data assists them in designing personalized messages, offers and discounts.
				</p><br><br>

        		<h4>3. Data Discretization : </h4><br>
        			<p>
        				It is a process of transforming continuous data into set of small intervals. Most Data Mining activities in the real world require continuous attributes. Yet many of the existing data mining frameworks are unable to handle these attributes.

					<br><br>Also, even if a data mining task can manage a continuous attribute, it can significantly improve its efficiency by replacing a constant quality attribute with its discrete values.
				</p><br><br>
       
        		
       			<h4>4. Attribute Construction :</h4><br>
       				<p> 
        			In the attribute construction method, new attributes are created from an existing set of attributes.This method of reconstruction makes mining more efficient and helps in creating new datasets quickly.
				</p><br><br>
			<h4>5. Generalization :</h4><br>
				<p>
					It converts low-level data attributes to high-level data attributes using concept hierarchy. This conversion from a lower level to a higher conceptual level is useful to get a clearer picture of the data.
				</p><br><br>
        				
        		<h4>6. Normalization</h4><br>
				<p>
					This is one of the crucial techniques for data transformation in data mining. Here, the data is transformed so that it falls under a given range. When attributes are on different ranges or scales, data modelling and mining can be difficult. Normalization helps in applying data mining algorithms and extracting data faster. It is also called <strong> Data Pre-Processing .</strong> 
				
				<br><br><strong> The normalization methods are :</strong>
				<ul>
						<li>
							<h5>Min-Max Normalization : </h5>
							<p>
								a. This transforms the original data linearly.<br>
 								b. Suppose that: min_A is the minima and max_A is the maxima of an attribute, P<br>
								<br><strong>We have the formula :</strong><br>
								<div align="center"><img src="Min Max.png" style="width:80%;"></div>
 

								c. Where v is the value you want to plot in the new range.<br>
								d. v' is the new value you get after normalizing the old value.
							</p>
						</li><br>
						<li>
							<h5>Z-Score Normalization : </h5>
							<p>	a. In z-score normalization the values of an attribute (A), are normalized based on the mean of A and its standard deviation.<br>
								b. A value, v, of attribute A is normalized to v’ by computing.
								<div align="center"><img src="Z score.png" style="width:20%;"></div>
							</p>
							
						</li>
						<li>
							<h5>Decimal Scaling : </h5>
							<p>
								a. It normalizes the values of an attribute by changing the position of their decimal points. <br>
								b. The number of points by which the decimal point is moved can be determined by the absolute maximum value of attribute A.<br>
                                                                c. A value, v, of attribute A is normalized to v’ by computing.
								<div align="center"><img src="Decimal scale.png" style="width:20%;"></div>	
								d. where j is the smallest integer such that Max(|v’|) < 1.
								</p><br>
							
						</li>
					</ul>
				</p><br>			
        	</div>
        </div>
      </div>
    </div>
</div>
    <!---------------------------------------------Main content end--------------------------------------------->
    
    <!------------top Fab button start-------->
    <a href="#" style="color: black;"><i class="fa fa-arrow-circle-up fa-3x" style="position: fixed;bottom:5%;right: 5%;">
    </i></a>
    <!-----top Fab button end ---------->


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
   
  </body>
</html>
